<h1> Bookmarks </h1>

<ul id = 'links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
      Tags:  <%= link.tags.map(&:name).join(", ")   %>
    </li>
  <% end %>
</ul>
<% if @current_user_email %>
  <p>Welcome to bookmark manager, <%= @current_user_email %></p>
<% end %>
<% if @current_user_email %>
	<%= @current_user.password %>	
<% end %>
